$tomato: hsl(4, 100%, 67%);

@mixin inputButtonSize {
    padding: 18px;
    font-size: 15px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    .label {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        margin-top: 10px;
        
        .error {
            color: $tomato;
        }
    }

    input {
        @include inputButtonSize();
        border: 1px solid hsl(231, 7%, 60%);
        margin: 10px 0 22px 0;
        font-weight: 700;
    }

    .inputError {
        border-color: $tomato;
        background-color: #ffe8e6;
        color: $tomato;
    }

    button {
        color: hsl(0, 0%, 100%);
        background-color: hsl(234, 29%, 20%);
        cursor: pointer;
        font-weight: 700;
        margin-bottom: 15px;
        @include inputButtonSize();
        &:hover {
            background-color: $tomato;
            border-color: transparent;
            box-shadow: 0px 5px 15px $tomato;
        }
    }
}